.btn {
	display: inline-block;
	color: map-get($grays, white);
	border: none;
	outline: none;
	padding: 1em;
	border-radius: 0.375em;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
  transition: transform, background, $btn-transistion-time ease-out;
	&:hover {
		color: map-get($grays, white);
		transform: translateY(-0.125em);
	}
	&:active {
		transform: translateY(0.125em);
	}
}

@each $color-name, $color-value in $colors {
	.btn--#{$color-name} {
		background: $color-value;
		&:hover,
		&:focus {
			background: darken($color-value, 5%);
		}
		&:active {
			background: darken($color-value, 10%);
		}
	}
}

.btn--disabled {
	background: map-get($grays, light);
	&:hover,
	&:focus {
		background: darken(map-get($grays, light), 5%);
	}
	&:active {
		background: darken(map-get($grays, light), 10%);
	}
}
