.btn {
	display: inline-block;
	color: map-get($grays, white);
	border: none;
	outline: none;
	padding: 1em;
	border-radius: 0.375em;
	cursor: pointer;
	position: relative;
	&:hover {
		color: map-get($grays, white);
	}
	&:active {
		transform: translateY(0.125em);
	}
}

@each $color-name, $color-value in $colors {
	.btn--#{$color-name} {
		background: $color-value;
    box-shadow: 0 0.375em darken($color-value, 5%);
		&:hover,
		&:focus {
			background: darken($color-value, 2.5%);
			box-shadow: 0 0.375em darken($color-value, 7.5%);
		}
		&:active {
			background: darken($color-value, 5%);
			box-shadow: 0 0.375em darken($color-value, 10%);
		}
	}
}

.btn--disabled {
	background: map-get($grays, light);
	box-shadow: 0 0.375em darken(map-get($grays, base), 5%);
	&:hover,
	&:focus {
		background: darken(map-get($grays, light), 2.5%);
		box-shadow: 0 0.375em darken(map-get($grays, base), 7.5%);
	}
	&:active {
		background: darken(map-get($grays, light), 5%);
		box-shadow: 0 0.375em darken(map-get($grays, base), 10%);
	}
}
